@import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css";
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #181c1f;
  color: #bdd1d4;
  margin: 2rem 0;
}

a {
  color:#48d9f3;
}

a:hover {
  color:#368e9e;
}

header {
  margin: 2rem 0;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

header img {
  width: 150px;
  object-fit: contain;
  border-radius:50%;
}

header h1 {
  margin: 0;
  color: #ccc;
}

header h1 span {
  font-size:28px;
}

header p {
  margin: 0;
  color: #82c2ce;
  margin-top:.5rem;
}

p.intro {text-align: center;}
p.bold {font-weight: bold;}
.margin-top {margin-top:42px;}

#tabs {
  max-width: 1800px;
  margin: 2rem 0;
  overflow: hidden;
}

#tabs menu, #tabs2 menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.25rem;
  margin-bottom: -2px;
  border-bottom: 1px solid #2d3942;
  z-index: 1000;
  position: relative;
}

#tabs button, #tabs2 button {
  font: inherit;
  font-size: 0.85rem;
  background-color: #282f33;
  border: none;
  color: #e0eff1;
  border-radius: 4px 4px 0 0;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
  min-width:180px;
}

button#drupal {
  background: transparent url('../public/Wordmark_blue_RGB.png') no-repeat;
  background-size: 70%;
  background-position-x: center;
  background-position-y: center;
  margin-bottom: -2px;
  border-bottom: 1px solid #2d3942;
}
button#drupal:hover {
  background: transparent url('../public/Wordmark_black.png') no-repeat;
  background-size: 80%;
  background-position-x: center;
  background-position-y: center;
}
button#drupal.active {
  background: transparent url('../public/Wordmark_white.png') no-repeat;
  background-size: 70%;
  background-position-x: center;
  background-position-y: center;
}
button#wordpress {
  background: transparent url('../public/wplogo.png') no-repeat;
  background-size: 70%;
  background-position-x: center;
  background-position-y: center;
  margin-bottom: -2px;
  border-bottom: 1px solid #2d3942;
}
button#wordpress:hover {
  background: transparent url('../public/wplogo.png') no-repeat;
  background-size: 80%;
  background-position-x: center;
  background-position-y: center;
}
button#wordpress.active {
  background: transparent url('../public/wplogo.png') no-repeat;
  background-size: 70%;
  background-position-x: center;
  background-position-y: center;
}
button#aem {
  background: transparent url('../public/aem.png') no-repeat;
  background-size: 10%;
  background-position-x: left;
  background-position-y: center;
  margin-bottom: -2px;
  border-bottom: 1px solid #2d3942;
}
button#aem:hover{
  background-size: 11%;
  background-position-x: left;
  background-position-y: center;
}
button#aem.active {
  background: transparent url('../public/aem.png') no-repeat;
  background-size: 11%;
  background-position-x: right 3rem;
  background-position-y: center;
}

#tabs button, #tabs2 button {
  width:auto;
  height:42px;
  margin: 5px 4px 0px 4px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
}

#tabs button::after, #tabs2 button::after {
  background-color: #2d3942;
  height: 3px;
  content: "";
  position: absolute;
  bottom: -3px;
  left: 3px;
  right: 3px;
}

#tabs button.lead, #tabs2 button.lead {
  border-bottom:1px solid #fff;
  border-radius:4px;
}

#tabs button.lead::after, #tabs2 button.lead::after {
content:"";
height:0;
}

#tabs button span, #tabs2 button span {
  
  display: inline-block;
  margin-left:30px;
  font-size:18px;
  letter-spacing:.5px;
  color:#fff;
}

#drupal {
  background-size: 80%;
  background-position-x: center;
  background-position-y: center;
}
#wordpress{
  background-size: 80%;
  background-position-x: center;
  background-position-y: center;
}
#aem {}

#tabs img, #tabs2 img {width:100%;height:auto;}

#tabs button:hover, #tabs2 button:hover
{background-color:#2d3942;}

#tabs button.active, #tabs2 button.active {
  background-color: #2d3942;
  color: #fff;
  box-shadow: #48d9f3 0px -2px 2px 2px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent; 
}

#tab-content, #tab-content2 {
  background-color: #2d3942;
  border-radius: 0 4px 4px 4px;
  padding: 1rem;
  position: relative;
  z-index:999;
  border: 1px solid #fff;
}

#tab-content li, #tab-content2 li {
  margin: 0.25rem 0;
  font-size:14px;
}

#tab-content img.host {width:120px;}
.infastructure img {width:100%;height:auto;}
.infastructure video {width:100%;height:auto;}

img.width100 {width:100%;height:auto;}

.accordion{
  --bs-accordion-color:#82c2ce;
  --bs-accordion-bg: transparent;
  --bs-accordion-border-color:none;
  --bs-accordion-btn-color:#fff;
  --bs-accordion-btn-padding-x:0;
  --bs-accordion-btn-padding-y:0;
  --bs-accordion-active-color:#ccc;
  --bs-accordion-btn-focus-border-color:none;
  --bs-accordion-btn-icon:url('../public/arrow-down-ccc.png');
  
}

.accordion-button {
  --bs-accordion-btn-icon-width:20px;
  --bs-accordion-btn-icon-height:20px;
  background-color:transparent;
}

.accordion-button:not(.collapsed) {
  background-color:transparent;
}

.accordion-button:not(.collapsed)::after {
  content:"";
  background-image: url('../public/arrow-down-ccc.png');
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
}

.accordion-button:focus {
  box-shadow:none;
}

.accordion-button h2 {color:#ccc;}

.accordion-item {
  color:#82c2ce;
  background-color:transparent;
}

.accordion-body {
  margin-top:48px;
  padding: 1rem 1.25rem;
}

.accordion-item h3 {
  color:#ccc;
  margin-top: 32px;
  margin-bottom: 14px;
  display: inline-block;
}

.accordion-header {margin-top:32px;}
.accordion-header p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
  font-size:1rem;
}

.accordion-button::after {
  margin-left:32px;
  content:"";
  background-image: url('../public/arrow-down-ccc.png');
  width: 20px;
  height: 20px;
}
a.readmore {text-decoration:none;}

.sanmartin {
  background:transparent url('../public/sanmartin.jpg') no-repeat;
  background-size: cover;
  min-height: 300px;
}

.fiftycent {
  width:49.75%;
  float:left;
}